__pycache__/
*.pyc
.venv/
.DS_Store
.pytest_cache/
test-results/
node_modules/
allure-results/
allure-report/
.cache/
playwright-report/
.mypy_cache/
.coverage
load/report.html
load/summary.txt
load/ui-report.html
